{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود</title>
    <link rel="stylesheet" href="{% static 'user/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>ورود</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="username">نام کاربری:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">رمز عبور:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">ورود</button>
        </form>
        <p>حساب کاربری ندارید؟ <a href="{% url 'register' %}">ثبت نام</a></p>
    </div>
</body>
</html>