{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>دروس حذف شده</title>
    <link rel="stylesheet" href="{% static 'user/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>دروس حذف شده</h2>
        <ul>
            <li>{{ course.course.course_name }} - {{ course.course.instructor_name }} - {{ course.course.schedule }}
            </li>
        </ul>
        <a href="{% url 'student_dashboard' %}">بازگشت به لیست دروس</a>
    </div>
</body>
</html>