<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>ثبت نام</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="username">نام کاربری:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">رمز عبور:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">ثبت نام</button>
        </form>
        <p>حساب کاربری دارید؟ <a href="{% url 'login' %}">ورود</a></p>
    </div>
</body>
</html>