<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>دروس انتخاب‌شده</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>دروس انتخاب‌شده</h2>
        <ul>
            {% for selection in selections %}
                <li>{{ selection.course.course_name }} - {{ selection.course.instructor_name }} - {{ selection.course.schedule }}
                    <a href="{% url 'remove_course' selection.id %}">حذف</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'student_dashboard' %}">بازگشت به لیست دروس</a>
    </div>
</body>
</html>